{% load static %}

<section id="insights" class="section-padding-primary bg-[url('../images/backgrounds/section-gradient.webp')] bg-cover bg-no-repeat bg-bottom relative">
    <div class="container mx-auto px-4">

        <!-- TITLE START -->
        <div data-animation="slideInUp" class="title__box @@boxClass">

            <div class="title__box-subtitle-box">
                <i class="fa-solid fa-star text-sm"></i>
                <span class="title__box-subtitle">
                    Latest Insights
                </span>
            </div>

            <h2 class="title__box-title Read Our Latest InsightsClass">
                Read Our Latest Insights
            </h2>

        </div>
        <!-- TITLE END -->


        <!-- INSIGHTS GRID -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            <!-- Standard Insight Cards -->
            {% for insight in latest_insights %}
                {% include 'site/components/index/insights/card.html' with insight=insight %}
            {% endfor %}

            <!-- Featured Insight -->
            {% if featured_insight %}
                {% include 'site/components/index/insights/featured-card.html' with insight=featured_insight %}
            {% endif %}

        </div>
        <!-- INSIGHTS GRID END -->

    </div>
</section>
