{% load static %}
<section id="fun-fact" class="relative section-padding-primary bg-[url('../images/backgrounds/about-img.jpg')] bg-cover bg-no-repeat bg-center before:absolute before:inset-0 before:bg-[#000f29d6] before:w-full before:h-full bg-fixed overflow-hidden">
      <div class="container relative">
        <ul class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">
          <!-- Item 1 -->
          <li class="flex items-center gap-6" data-animation="slideInUp">
            <div class="w-24 h-24 bg-glass rounded-xl grid place-items-center backdrop-blur-lg">
              <img src="{% static 'image/love.svg' %}" alt="Digital Journey">
            </div>
            <div>
              <h2 class="text-white text-5xl font-semibold">{{ company.founded_year }}</h2>
              <p class="text-gray-200 text-lg">Digital Journey Started</p>
            </div>
          </li>

          <!-- Item 2 -->
          <li class="flex items-center gap-6" data-animation="slideInUp" data-animation-delay="300ms">
            <div class="w-24 h-24 bg-glass rounded-xl grid place-items-center backdrop-blur-lg">
              <img src="{% static 'image/policy.svg' %}" alt="Projects Done">
            </div>
            <div>
              <h2 class="text-white text-5xl font-semibold fun-fact__number" data-count="200" data-suffix="+">0</h2>
              <p class="text-gray-200 text-lg">Projects Completed</p>
            </div>
          </li>

          <!-- Item 3 -->
          <li class="flex items-center gap-6" data-animation="slideInUp" data-animation-delay="600ms">
            <div class="w-24 h-24 bg-glass rounded-xl grid place-items-center backdrop-blur-lg">
              <img src="{% static 'image/worker.svg' %}" alt="Countries Served">
            </div>
            <div>
              <h2 class="text-white text-5xl font-semibold fun-fact__number" data-count="12" data-suffix="+">0</h2>
              <p class="text-gray-200 text-lg">Countries Served</p>
            </div>
          </li>

          <!-- Item 4 -->
          <li class="flex items-center gap-6" data-animation="slideInUp" data-animation-delay="900ms">
            <div class="w-24 h-24 bg-glass rounded-xl grid place-items-center backdrop-blur-lg">
              <img src="{% static 'image/badge.svg' %}" alt="Location">
            </div>
            <div>
              <h2 class="text-white text-3xl font-semibold">Jaffna</h2>
              <p class="text-gray-200 text-lg">Sri Lanka</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
